nav ul {
  display: flex; }
  nav ul li {
    list-style-type: none;
    margin: 0.2rem auto;
    transition: all 0.3s ease; }
    nav ul li:hover {
      transform: scale(1.1); }
    nav ul li a {
      text-decoration: none;
      padding: 0.5rem 1rem;
      background-color: #58fff1;
      color: #000000;
      border: none;
      border-radius: 5px;
      transition: all 0.3s ease; }
      nav ul li a:hover {
        background-color: #00f1dd; }

body {
  background-color: #678886;
  color: #ffff; }

#submit_button {
  padding: 0.5rem 1rem;
  color: #ffff;
  background-color: #2831ad;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease; }
  #submit_button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #1e2584; }

body select {
  display: block;
  background-color: #ffff73;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem; }
  body select option {
    background-color: #58b4ff; }
