<h2>Body part</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aspernatur.
</p>
<p>Some other Lorem ipsum dolor sit amet.</p>
<select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>
<button id="submitButton" onclick="submitHandler()">Submit</button>
