<h2>Nav Bar</h2>
<nav>
    <ul>
        <li>
            <a href="https://www.google.com/" target="_blank">Link 1</a>
        </li>
        <li>
            <a href="https://www.google.com/" target="_blank">Link 2</a>
        </li>
        <li>
            <a href="https://www.google.com/" target="_blank">Link 3</a>
        </li>
    </ul>
</nav>
