<!doctype html>
<html lang="en">

<body>
  <form class="userLoginForm">
      <label for="textInput">Enter your name</label>
      <input id="textInput" type="text" />
      <br/>
      <label for="passwordInput">Enter your password</label>
      <input id="passwordInput" type="text"/>
  </form>
</body>
</html>