@import "../../global/colors";
@import "../../global/mixins";

.userLoginForm {
  background-color: $form-bg;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  input {
    @include input;
  }
}
