#submit_button {
  padding: 0.5rem 1rem;
  color: #ffff;
  background-color: #2831ad;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease; }
  #submit_button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #1e2584; }

nav {
  padding: 1rem 2rem;
  margin: 0; }
  nav ul {
    display: flex; }
    nav ul li {
      list-style-type: none;
      margin: 0.2rem auto;
      transition: all 0.3s ease; }
      nav ul li:hover {
        transform: scale(1.1); }
      nav ul li a {
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: #58fff1;
        color: #000000;
        border: none;
        border-radius: 5px;
        transition: all 0.3s ease; }
        nav ul li a:hover {
          cursor: pointer;
          background-color: #00beae;
          color: #ffff; }

.home-page {
  background-color: #678886;
  color: #ffff;
  padding: 5rem; }
  .home-page select {
    display: block;
    background-color: #ffff73;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem; }
    .home-page select option {
      background-color: #58b4ff; }

.userLoginForm {
  background-color: #cdd7fc;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .userLoginForm input {
    width: 50%;
    margin: 1rem auto;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #000000;
    height: 4vh;
    outline: none; }
    .userLoginForm input:focus {
      height: 4vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }
