@mixin button {
	padding: 0.5rem 1rem;
	color: white;
	background-color: purple;
	border-radius: 5px;
	border: none;
	transition: all 0.3s ease;
	&:hover{
		cursor: pointer;
		transform: scale(1.1);
	}
}

@mixin select{
	display: block;
	background-color: rgb(255, 255, 49);
	width: 100px;
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	option{
		background-color: rgb(111, 255, 224);
		:hover{
			background-color: rgb(97, 228, 147);
		}
	}
}

@mixin navbar {
	ul
	{
		display: flex;
		li
		{
			list-style-type: none;
			margin: 0.2rem auto;
			transition: all 0.3s ease;
			&:hover{
				transform: scale(1.1);
			}
			a
			{
				text-decoration: none;
				padding: 0.5rem 1rem;
				background-color: rgb(154, 208, 255);
				color: rgb(255, 255, 255);
				border: none;
				border-radius: 5px;
				transition: all 0.3s ease;
				&:hover{
					background-color: aqua;
				}
			}
		}	
	}
}