@import "../global/colors";
@import "../global/mixins";
@import "../global/button";
@import "./navbar";

.home-page {
  background-color: $body-bg-color;
  color: $all-texts-light;
  padding: 5rem;

  select {
    @include select;
  }
}
