<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            <%- include('../../public/css/app.css'); %>
        </style>
        <title>Home page</title>
    </head>
    <%-include('../partials/global/header.ejs'); %>
    <%-include('../partials/home-page/body.ejs'); %>
    <body>
        <%-include('../script/home-page/body_script.ejs')%>
    </body>
</html>
