<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            <%- include('../stylesheets/app.css'); %>
        </style>
    </head>
    <%-include('../partials/header.ejs'); %>
    <%-include('../partials/home-page/body.ejs'); %>
    <body>
        <script></script>
    </body>
</html>
