<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../stylesheets/app.css" rel="stylesheet" type="text/css" />
        <%- include('../partials/navbar'); %> <%- include('../partials/body');
        %>
    </head>
    <body>
        <script src="../script/functions.js"></script>
    </body>
</html>
