<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Second Route Body</title>
        <style>
            <%- include('../../public/css/app.css'); %>
        </style>
    </head>
    <%-include('../partials/global/header.ejs') %> 
	<%-include('../partials/second-page/body.ejs') %>
    <body>
        <script></script>
    </body>
</html>
