<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Second Route Body</title>
        <style>
            <%- include('../../public/css/app.css'); %>
        </style>
        <script src="../../public/script/functions.js"></script>
    </head>
	<%-include('../partials/global/header.ejs') %>
    <%-include('../partials/third-page/body.ejs') %>
    <body>
        <%-include('../script/third-page/body_script.ejs')%>
    </body>
</html>
