<!DOCTYPE html>
<html lang="en">
    <head>
        <style></style>
    </head>

    <body>
        <div class="home-page">
            <h2>Body part</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
                aspernatur. <%= submit.submit(); %>
            </p>
            <p>Some other Lorem ipsum dolor sit amet.</p>
            <select id="select-button" onchange="selectItem(event)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <button id="submit-button" onclick="submitHandler(event)">
                Submit
            </button>
        </div>
        <script></script>
    </body>
</html>
