<!DOCTYPE html>
<html lang="en">
    <head>
        <style></style>
    </head>

    <body>
        <div class="home-page">
            <h2>Body part</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
                aspernatur. <%= submit.submit(); %>
            </p>
            <p>Some other Lorem ipsum dolor sit amet.</p>
            <select id="select-button">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <button id="submit-button">Submit</button>
        </div>
        <script>
            const button = document.getElementById("submit-button");
            let value = 1;

            button.addEventListener("click", () => {
                console.log(value);
            });
            const select = document.getElementById("select-button");
            select.addEventListener("change", (item) => {
                value = item.target.value;
            });
        </script>
    </body>
</html>
