<h2>Nav Bar</h2>
<nav>
    <ul class="navbar-list">
        <li>
            <a>Link 1</a>
        </li>
        <li>
            <a>Link 2</a>
        </li>
        <li>
            <a href="https://www.google.com/" target="_blank">Link 3</a>
        </li>
    </ul>
</nav>

<script>
    const list = document.querySelectorAll(".navbar-list li");
    list.forEach((item) => {
        item.addEventListener("click", (element) => {
            if (element.target.innerHTML === "Link 1") {
                document.location.href = "/";
            } else if (element.target.innerHTML === "Link 2") {
                document.location.href = "/second-page";
            }
        });
    });
</script>
