<nav>
    <ul class="navbar-list">
        <li>
            <a>Home Page</a>
        </li>
        <li>
            <a>Second Page</a>
        </li>
        <li>
            <a >Third Page</a>
        </li>
    </ul>
</nav>

<script>
    const list = document.querySelectorAll(".navbar-list li");
    list.forEach((item) => {
        item.addEventListener("click", (element) => {
            if (element.target.innerHTML === "Home Page") {
                document.location.href = "/";
            } else if (element.target.innerHTML === "Second Page") {
                document.location.href = "/second-page";
            }else if (element.target.innerHTML === "Third Page") {
                document.location.href = "/third-page";
            }
        });
    });
</script>
